Hi!

Thanks for registering at snitch.cool. Use this link to activate your account:

{{ activation_link | safe }}
(expires after 15 minutes).

Next, install the snitch client on your computer: https://github.com/snitch-id/snitch#installation
Generate a token and add that to your configuration: https://github.com/snitch-id/snitch#connect-to-snitchcool

Have fun

Your snitch


---
Disclaimer: the backend/frontend hosted at snitch.cool, as well as the client application
are under continuous development and can break any time.
Luckily, everything is open source. So if that happens, reach out via github
https://github.com/snitch-id
